In [ ]:
"""Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).
"""
numbers = []
i = 1500
while i <= 2700:
  if i % 7 == 0 and i % 5 == 0:
    numbers.append(i)
  i += 1
print(numbers)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [ ]:
import random
true_num = random.randint(1, 9)
print("Guess a random number between 1 and 9")
while True:
  num = int(input())
  if num == true_num:
    print("Congratulations, true guess")
    break
  else:
    print("try again")

Guess a random number between 1 and 9
1
try again
2
try again
3
try again
4
try again
5
Congratulations, true guess

In [ ]:
for i in range(6):
  if i == 3:
    continue
  print(i, end=" ")

0 1 2 4 5

In [ ]:
for i in range(1, 6):
  for j in range(1, i+1):
    print("*", end="")
  print()
i = 4
while i > 0:
  for j in range(1, i+1):
    print("*", end="")
  print()
  i -= 1

*
**
***
****
*****
****
***
**
*

In [ ]:
word = input("enter any word: ")
rev_word = ""
i = len(word) - 1
while i >= 0:
  rev_word += word[i]
  i -= 1
print(f"the reverse is {rev_word}")

enter any word: ABC
the reverse is CBA

In [ ]:
nums = [i for i in range(1, 10)]
even = 0
odd = 0
for i in range(len(nums)):
  if nums[i] % 2 == 0:
    even += 1
  else:
    odd += 1
print(nums)
print(f"number of evens = {even}")
print(f"number of odds = {odd}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
number of evens = 4
number of odds = 5

In [ ]:
# First letter !!!!!!!!!!!!!!!!!!

In [ ]:
for i in range(1, 10):
  j = i
  for j in range(i):
    print(i, end="")
  print(" ", end="")

1 22 333 4444 55555 666666 7777777 88888888 999999999

In [ ]:
num = int(input())
for i in range(1, 10):
    print(f"{num} * {i} = {i*num}")

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [ ]:
numbers = []
print("Enter a group of integer numbers but not zero: ")
while True:
  num = int(input())
  if num == 0:
    break
  else:
    numbers.append(num)
sum = 0
avg = 0
for i in range(len(numbers)):
  sum += numbers[i]
avg = sum/len(numbers)
print(f"Sum = {sum}")
print(f"Avarage = {avg}")

Enter a group of integer numbers but not zero:
10
20
30
40
50
0
Sum = 150
Avarage = 30.0

In [ ]:
fib = []
# 0 1 1 2 3 5 8 13
num = int(input())
for i in range(num):
  if i == 0 or i == 1:
    fib.append(i)
  else:
    fib.append(fib[i-1] + fib[i-2])
print(fib[-1])

5
3

In [ ]:
numbers = [10, 20, 30, 50, 40, 70]
max = 0
for i in range (len(numbers)):
  if numbers[i] > max:
    max = numbers[i]
print (max)

70

In [ ]:
count = 0
word = 'Localization'
vowels = ['a', 'e', 'i', 'o', 'u', 'y', 'h']
for letter in word:
  for i in range(len(vowels)):
    if letter == vowels[i]:
      count += 1
      break
print(f"number of vowels in '{word}' = {count}")

number of vowels in 'Localization' = 6

In [ ]:
primes = []
for i in range(21):
  if i > 1:
    for j in range (2, i):
      if i % j == 0:
        break
    else:
      primes.append(i)

print(f"prime numbers in range (1, 20): {primes}")

prime numbers in range (1, 10): [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
balance = 500
while True:
  num = int(input("enter the amount of withdrawal: "))
  balance -= num
  if balance >= 0:
    print(f"Successful withdrawl, you withraw {num}")
    print(f"Your balance = {balance}")
  else:
    print("unsuccessful withraw, not enough balance")
    break

enter the amount of withdrawal: 500
Successful withdrawl, you withraw 500
Your balance = 0
enter the amount of withdrawal: 30
unsuccessful withraw, not enough balance

In [ ]:
lst1 = ['A', 1, 3, 5, 'B']
lst2 = ["ABC", 4, 2, 8, 5]
for i in range(len(lst1)):
  for j in range(len(lst2)):
    if lst2[j] == lst1[i]:
      print(f"{lst2[j]} is a common item between the two lists")

5 is a common item between the two lists

In [ ]:
num = int(input())
i = num
fact = 1
while i > 0:
  fact *= i
  i -= 1
print(f"factorial of {num} = {fact}")

5
factorial of 5 = 120

In [ ]:
while True:
  num = int(input())
  if num > 10:
    break

2
1
10
11

In [ ]:
sum = 0
num = int(input())
while num > 10:
    sum += (num%10)
    num -= (num%10)
    num /= 10
sum += num
print(sum)

345
12.0

In [ ]:
word = input()
rev_word = ""
i = len(word) - 1
while i >= 0:
  rev_word += word[i]
  i -= 1
if rev_word == word:
  print(f"'{word}' is plaindrome")
else:
  print(f"'{word}' is not plaindrome")

In [ ]:
lst1 = ['1', '2', '3']
lst2 = ['A', 'B', 'C']
dct = {}
for i in range(len(lst1)):
  dct[lst1[i]] = lst2[i]
print(dct)

{'1': 'A', '2': 'B', '3': 'C'}

In [ ]:
true_username = "Abdelrahman_Wael"
true_password = "12345678"
username = input("username: ")
password = input("password: ")
if username == true_username and password == true_password:
  print("Login successfully")
else:
  print("!username or password is incorrect")

username: Abdelrahman_Wael
password: 12345678
Login successfully

In [ ]:
num = int(input())
for i in range(1, 10):
  print(f"{num} * {i} = {num * i}")

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [1]:
def average(nums):
  sum = 0
  for i in range(len(nums)):
    sum += nums[i]
  return sum/len(nums)

numbers = [i for i in range(1, 11)]
print(f"Average of {numbers} = {average(numbers)}")

Average of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] = 5.5

In [ ]:
def longest_word(words):
    max_size = 0
    longest = ""
    for i in range(len(words)):
        if len(words[i]) > max_size:
            max_size = len(words[i])
            longest = words[i]
    return longest

lst = ['Abdelrahman', 'Ahmed', 'Mohamed', 'Generalization', 'Inheritance', 'Polymorphism']
print(f"The longest word within {lst}\nis '{longest_word(lst)}'")

The longest word within ['Abdelrahman', 'Ahmed', 'Mohamed', 'Generalization', 'Inheritance', 'Polymorphism']
is 'Generalization'

In [ ]:
def check_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

n = int(input("Enter any number: "))
if check_prime(n):
    print(f"{n} is prime")
else:
    print(f"{n} is not prime")

Enter any number: 7
7 is prime

In [2]:
def squares(num):
    lst = [i*i for i in range(1, num+1)]
    return lst

n = int(input())
print(squares(n))

5
[1, 4, 9, 16, 25]

In [3]:
def convert_to_upper(lst):
    new_lst = [word.upper() for word in lst]
    return new_lst
words = ['Abdelrahman', 'Ahmed', 'Mohamed', 'Generalization', 'Inheritance', 'Polymorphism']
print(f"after converting these words {words} to uppercase letters\nthis is the result: {convert_to_upper(words)}")

after converting these words ['Abdelrahman', 'Ahmed', 'Mohamed', 'Generalization', 'Inheritance', 'Polymorphism'] to uppercase letters
this is the result: ['ABDELRAHMAN', 'AHMED', 'MOHAMED', 'GENERALIZATION', 'INHERITANCE', 'POLYMORPHISM']

In [ ]:
def convert_to_fahrenheit(temp):
  fahrenheit = ((temp*9)/5)+32
  return fahrenheit
value = float(input("Enter the tempreture value in celcius: "))
print(f"The tempreture value in fahrenheit = {convert_to_fahrenheit(value)}")

Enter the tempreture value in celcius: 30
The tempreture value in fahrenheit = 86.0

In [4]:
def find_max(lst):
    max_item = 0
    for i in range(len(lst)):
        if lst[i] > max_item:
            max_item = lst[i]
    return max_item

def find_min(lst):
    min_item = 10000
    for i in range(len(lst)):
        if lst[i] < min_item:
            min_item = lst[i]
    return min_item

nums = [100, 38, 55, 90, 101]
print(f"maximum element in {nums} = {find_max(nums)}")
print(f"minimum element in {nums} = {find_min(nums)}")

maximum element in [100, 38, 55, 90, 101] = 101
minimum element in [100, 38, 55, 90, 101] = 38

In [ ]:
def check(email):
  at_sign = email.count('@')
  dot_sign = email.count('.')
  if at_sign == 1 and dot_sign == 1:
    return True
  return False

txt = input("enter your email: ")
if check(txt):
  print("This is an email")
else:
  print("Not an email")

enter your email: Abdelrahman11166@outlook.com
This is an email

In [5]:
def count_freq(letter, word):
    count = 0
    for i in range(len(word)):
        if letter == word[i]:
            count += 1
    return count

s = input()
st = set(s)
lst = list(st)
lst.sort()
print(f"In {s} there are: ")
for l in lst:
    print(f"{count_freq(l, s)}'{l}'")

abdelrahman
In abdelrahman there are:
3'a'
1'b'
1'd'
1'e'
1'h'
1'l'
1'm'
1'n'
1'r'